#main-content {
    margin-left: 0;
    padding: 40px;
    transition: margin-left 0.3s ease;
    margin-top: 0;
}

#main-content h1 {
    color: #141D24; 
    margin-bottom: 32px;
}

.header-actions {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.search-box input {
    width: 350px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s;
}

.search-box input:focus {
    border-color: #E31B13; 
}

.btn-new-client {
    background-color: #E31B13;
    color: #F5F5F5;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-new-client:hover {
    background-color: #b3140f;
}

.client-table {
    width: 100%;
    border-collapse: collapse; 
    background-color: #F5F5F5;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.client-table th {
    background-color: #e6e7e9; 
    color: #141D24; 
    text-align: left;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #eee;
}

.client-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #141D24;
    font-size: 17px;
}

.client-table tr:hover {
    background-color: #e6e7e9; 
}

.btn-detalhes {
    background: #141D24;
    color: #F5F5F5;
    border: 1px solid #141D24;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
}

.btn-detalhes:hover {
    background-color: #F5F5F5;
    color: #141D24;
}

.btn-excluir {
    background: #E31B13;
    color: #f5f5f5;
    border: 1px solid #E31B13;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    margin-left: 8px; 
    transition: 0.3s;
}

.btn-excluir:hover {
    background-color: #F5F5F5;
    color: #E31B13;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #F5F5F5;
    margin: 2% auto;
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    border-radius: 15px;
    color: #141D24;
}

.modal-body {
    display: flex;
    gap: 30px; 
    padding: 20px 0;
    border-top: 1px solid #F5F5F5;
    align-items: stretch;
}

.modal-header {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #a4a4a5;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #141D24;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    font-weight: bold;
    color: #141D24;
    cursor: pointer;
    line-height: 1;
}

.close-modal:hover {
    color: #E31B13;
}

.column-left, .column-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column-right {
    max-height: 600px; 
    overflow-y: auto; 
    padding-right: 15px; 
    border-left: 1px solid #F5F5F5;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.input-group input, 
.input-group select {
    background-color: #F5F5F5;
    color: #141D24;           
    border-color: #141D24;
    padding: 12px;
    border-radius: 10px;   
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.input-group input::placeholder {
    color: #a09f9f;
}

.input-group label {
    font-size: 18px;    
    font-weight: 600;     
    margin-bottom: 5px;   
    margin-top: 5px;
    color: #141D24;
    display: block;
}

.section-title {
    color: #E31B13;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.vehicle-card {
    border: 1px solid #141D24;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.vehicle-badge {
    background-color: #FFEBEE;
    color: #E31B13;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.remove-vehicle-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.remove-vehicle-btn:hover {
    color: #D32F2F; /* Fica vermelho ao passar o mouse */
}

/* Garante que o card do veículo aceite o posicionamento do botão */
.vehicle-card {
    position: relative; /* Isso é essencial */
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.row-triple {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.btn-add-more {
    width: 100%;
    background-color: #222; 
    color: #f5f5f5;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}

.btn-add-more:hover {
    background-color: #E31B13;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #a4a4a5;
}

.btn-cancelar {
    background-color: #f5f5f5;
    color: #888;
    border: 1px solid #ccc;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cancelar:hover {
    background-color: #ccc;
    color: #333;
}

.btn-salvar {
    background-color: #141D24; 
    color: #f5f5f5;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-salvar:hover {
    background-color: #E31B13;
}

.highlight {
    background-color: #e9827e;
    font-weight: bold;
    text-decoration: underline;
    color: #141D24;
}
